.integrations-list {
	margin-top: 20px;
	.integration {
		background-color: #f8f8f8;
		padding: 20px 30px;
		border-radius: 5px;
		margin-bottom: 2em;
		.title {
			font-weight: 500;
			line-height: 1.25em;
		}
		.top-panel {
			display: flex;
			justify-content: space-between;
		}
		.info-panel {
			border-top: 1px solid #c6c6c6;
			padding-top: 30px;
		}

	}
}