{
	"presets": [
		["env", {
				"targets": {
					"node": "14.16.1"
				},
				"loose": true
			}
		]
	],
	"plugins": [
		"syntax-dynamic-import",
		"dynamic-import-node",
		"plugin-transform-modules-commonjs",
		"plugin-transform-runtime"
	]
}