.status {
	font-size: 12px;
	margin: 0 10px;
	vertical-align: text-top;
	.allowed,
	.disallowed {
		padding: 2px 15px;
		border-radius: 1em;
		font-weight: normal;
		color: #000;
	}
	.allowed {
		background-color: #f5cb95;
	}
	.disallowed {
		background-color: #cecece;
	}
}