// Colors
$global_background-color: #b5efac;

// Fonts
$global_font_url: "https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap";
$global_font-family: "Roboto", monospace;

// Bulma
$fullhd-enabled: false !default;